url = "/aboutus"
layout = "default"
title = "Haqqımızda"

[viewBag]
localeUrl[en] = "/about-us"

[collection generalSettings]
handle = "general"
==
{% set general = generalSettings.first() %}
{% set imgUrls = {
    thumb1: 'storage/app/media/800x800.png',
    thumb2: 'storage/app/media/800x800.png',
    banner: 'storage/app/media/2440x1578.png',
} %}

<!-- Start Page Title -->
<div class="page-title-area shadow dark bg-fixed text-center text-light"
     style="background-image: url('{{ imgUrls.banner }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>{{ 'Haqqımızda'|_ }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Start Our About ============================================= -->
<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <!-- Start About Content -->
            <div class="about-content content-left">
                <div class="col-md-6 info">
                    <h2>{{ general.about_title }}</h2>
                    <div class="about-text">
                        {{ general.about_content|raw }}
                    </div>
                </div>
                <div class="col-md-6 thumb">
                    <img src="{{ imgUrls.thumb1 }}" alt="Thumb">
                    <img src="{{ imgUrls.thumb2 }}" alt="Thumb">
                </div>
            </div>
            <!-- End About -->
        </div>
    </div>
</div>
<!-- End Our About -->

<!-- Start Team Area ============================================= -->
<div class="team-area default-padding bottom-less">
    <div class="container">
        {% if general.team_members is not empty %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2 style="color: #0ebdce;">{{ 'Komandamızı Tanıyın'|_ }}</h2>
                </div>
            </div>
        </div>

        <div class="team-items text-center">
            <div class="row">
                {% for member in general.team_members %}
                <div class="single-item col-md-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="{{ member.photo|media }}" alt="{{ member.name }}">
                        </div>
                        <div class="info">
                            <div class="inner">
                                <h4>{{ member.name }}</h4>
                                <span>{{ member.position }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- End Team Area -->

<!-- Start Our Services ============================================= -->
<div class="services-area text-center carousel-shadow default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2 style="color: #0ebdce;">{{ 'Tərəfdaşlar'|_ }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-medium">
        <div class="row">
            <div class="col-md-12">
                <div class="services-items services-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-analysis"></i>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-meeting"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-money-1"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-result"></i>
                        </div>
                    </div>
                    <!-- End Single Items -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Our Services -->
