<!-- Star Footer
    ============================================= -->
    <footer class="bg-light">
        <div class="container">
            <div class="footer-content default-padding">
                <div class="row">

                    <div class="equal-height col-md-4 col-sm-6 item">
                        <div class="f-item about">
                            <h4 class="widget-title">{{ 'Haqqımızda'|_ }}</h4>
                            <p>
                                {{ 'Tələb şərəfli xırda-xırda yemək zövq adam relati Təminat hələ yataq təkmilləşdirilməsi idi mebel adam Etibarsız məmnun xidmətlər və tətbiqi yüksək dərəcədə tobiscotuition sonu.'|_ }}
                            </p>
                            <p>
                                {{ 'Tələb olunan əməkdar xırda-xırda yemək zövq adam relati Əminlik hələ yataq təkmilləşdirilməsi idi mebel adam Etibarsız məmnun xidmətlər və tətbiqi yüksək dərəcəli tobiscotuition sonu.'|_ }}
                            </p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-md-2 col-sm-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">{{ 'Səhifələr'|_ }}</h4>
                            <ul>
                                <li>
                                    <a href="{{ 'home'|page }}">{{ 'Ana Səhifə'|_ }}</a>
                                </li>
                                <li>
                                    <a href="{{ 'aboutus'|page }}">{{ 'Haqqımızda'|_ }}</a>
                                </li>
                                <li>
                                    <a href="{{ 'project'|page }}">{{ 'Layihələr'|_ }}</a>
                                </li>
                                <li>
                                    <a href="{{ 'news'|page }}">{{ 'Xəbərlər və Elanlar'|_ }}</a>
                                </li>
                                <li>
                                    <a href="{{ 'register'|page }}">{{ 'Üzv Ol'|_ }}</a>
                                </li>
                                <li>
                                    <a href="{{ 'contact'|page }}">{{ 'Əlaqə'|_ }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-md-4 col-sm-6 item">
                        <div class="f-item contact address">
                            <h4 class="widget-title">{{ 'Bizimlə Əlaqə'|_ }}</h4>
                            <ul>
                                <li>
                                    <div class="icon"><i class="flaticon-location"></i></div>
                                    <span>22 Baker Street, Koenigstrasse 65, Bad Sülze, Mecklenburg-Vorpommern, Philippines</span>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-call-center"></i>
                                    </div>
                                    <span>+123 456 7890 <br>+456 123 4455  </span>
                                </li>
                                <li>
                                    <div class="icon"><i class="flaticon-email"></i> </div>
                                    <span>support@buscom.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; 2025 Akib {{ 'Bütün hüquqlar qorunur.'|_ }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
